*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: arial sans-serif;
    overflow-x: hidden;
}
.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.logo{
  background: url(../img/logo.png) no-repeat;
  height: 70px;
  width: 130px;
  text-indent: -10000px;
  float: left;
  margin-top: 10px;
}
header {
  padding: 20px 0;
  /* width: 100%;
  position: fixed;
  height: 80px; */
}
/* header.fixed {
background-color: #37225d;
  z-index: 99;
} */
header::after{
  content: "";
  display: block;
  clear: both;
}

header nav{
  float: right;
  margin-top: 30px;
  margin-right: 10px;

}
header nav a{
  color: #fff;
  text-decoration: none;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
}
header nav a:hover,
header nav a.active{
  color: #6acbc9;
  transition: all 0.3s ease-in-out;
}

header nav h2{
  height: 0;
  text-indent: -10000px;
}
header nav li{
  list-style-type: none;
  float: left;
  margin-left: 10px;
}

/* main banner */
#main-banner {
  background: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  position: relative;
  z-index: 1;
}
.banner-content{
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: -1;
  animation-delay: 0.5s;
}
.line{
  width: 40px;
  margin: 20px auto;
}
#main-banner .line{
  border-bottom: 1px solid #6acbc9;
}
.banner-tittle{
  font-size: 30px;
  text-transform: uppercase;
}
#main-banner p.banner-text{
  max-width: 735px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.btn{
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  color: #27e0dc;
  border: 1px solid #27e0dc;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.btn:hover{
  background-color: #53a4a3;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
/* Our Story */
#story{
  margin-top: 60px;
}
#story .story-image{
  width: 35%;
  padding: 20px 5%;
  margin: 20px 10px;
  float: left;
  text-align: center;

}
#story .story-content{
  width: 60%;
  padding: 20px 0;
  margin: 20px 10px;
  float: left;
}
.tittle{
  font-size: 25px;
  color: #3b3939;
}
#story h1.tittle{
  margin-bottom: 15px;
}
#story p{
  margin-bottom: 20px;
  color: #696363;
}
#story a.btn{
  margin-top: 15px;
}
#story::after{
  content: "";
  display: block;
  clear: both;
}

/* Video */

#video{
  background: url(../img/banner-vid.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  margin-top: 50px;
  position: relative;
}
#video .vid{
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  width: 100%;
  text-align: center
}
#video h2{
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: arial;
}

/* Expertise */
#expertise{
  margin-top: 60px;
}
.expertise-content{
  text-align: center;
}
#expertise  p.sub-tittle{
  color: #000000ad;
  line-height: 1.5em;
}
#expertise .line{
  border-bottom: 1px solid #00000069;
}
#expertise img{
  height: 50px;
  width: 50px;
}
#expertise ul{
  list-style-type: none;
  text-align: center;
}
#expertise ul li{
  width: 32%;
  float: left;
  padding: 20px 5px;
  margin: 10px 5px;
}
#expertise li p{
  color: #000000ad;
  line-height: 1.5em;
  padding: 5px 20px;
}
#expertise li h2{
  font-size: 14px;
}
#expertise::after{
  content: "";
  display: block;
  clear: both;
}

/* Team */
#team{
  margin-top: 60px;
  background: url(../img/banner-team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
.team-content{
  text-align: center;
  color: #fff;
  padding-top: 50px;
}
#team h1.tittle{
  color: #fff;
}
#team .line{
  border: 1px solid #fff;
}
#team ul{
  list-style-type: none;
}
.team-image{
  width: 100%;
  height: 200px;
  background-color: #fff
}
#team ul li{
  width: 23%;
  float: left;
  text-align: center;
  border: 1px solid #fff;
  margin-left: 10px;
}
#team ul li:nth-child(1){
  animation-delay: 0.5s;
}
#team ul li:nth-child(2){
  animation-delay: 1s;
}
#team ul li:nth-child(3){
  animation-delay: 1.5s;
}
#team ul li:nth-child(4){
  animation-delay: 2s;
}
#team h2,p{
  margin-top: 10px;
  color: #fff;
}
#team h2{
  font-size: 16px;
}
#team p{
  font-size: 12px;
}
#team ul::after{
  content: "";
  display: block;
  clear: both;
}
.team-btm-content{
  margin-top: 40px;
  text-align: center;
}
.team-btm-content p{
  margin-bottom: 25px;
}

/* Works */
#works{
  margin-top: 60px;
}
#works .works-content{
    width: 100%;
    margin-bottom: 50px;
}
#works h1.tittle{
  float: left;
}
#works p{
  color: #000;
  float: right;
}
.works-content::after{
  content: "";
  display: block;
  clear: both;
}
#works .team-color{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px,auto);
  grid-gap: 2px;
}
#works .team-color div{
  background: #333;
  padding: 30px;
}
#works .team-color div:nth-child(even){
  background: #666;
}
#works .works-load{
  text-align: center;
  margin-top: 50px;
}

/* testimonial */
#testimonial{
  margin-top: 60px;
  background: url(../img/banner-testimonial.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  position: relative;

}
.testimonial-content{
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  text-align: center;
}
.slide-content{
  font-size: 18px;
  max-width: 750px;
  margin: 10px auto;
}
#testimonial h3{
  color: #fff;
  font-size: 14px;
  font-family: arial;
}
.testimonial-position{
  font-size: 12px;
}
.mySlides{
  display: none;
  /* text-align: center; */
}
.prev, .next {
  cursor: pointer;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
  top: 44%;
  z-index: 2;
}
.prev{
  left: 10%;
}
.next {
  right: 10%;
  /* border-radius: 2px 0 0 2px; */
}
.dot-container {
  text-align: center;
  background: transparent;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.dot{
  cursor: pointer;
  height: 72px;
  width: 72px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}
.dot-container img{
  height: 45px;
  width: 45px;

}

#testimonial .active img{
  height: 70px;
  width: 70px;
  transition: all 0.3s ease;
}

/* Contact */
#contact{
  margin-top: 60px;
}
.contact-left{
  width: 45%;
  float: left;
}
#contact input{
  float: left;
  width: 80%;
  margin: 10px 0px;
  padding: 10px 10px;
}
#contact textarea{
  float: left;
  height: 250px;
  width: 80%;
}
#contact form::after{
  content: "";
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.content-right{
  width: 50%;
  float: left;
}
.content-right h1{
  margin-left: 20px;
}

#contact::after{
  content: "";
  display: block;
  clear: both;
}

/* footer */
footer{
  margin-top: 50px;
  background: url(../img/banner-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;

}
.footer-content{
  width: 32%;
  float: left;
  margin: 10px 5px;
  padding: 10px 0px;
}
footer p{
  font-size: 14px;
}
.content-1{
  line-height: 2em;
  max-width: 245px;
}
footer h3{
  margin: 20px 0;
  color: #fff;
}
.footer-logo{
  background: url(../img/footer-logo.png) no-repeat left 0;
  padding-left: 30px;
  line-height: 1.5em;
  max-width: 245px;
}
.footer-logo-1{
    background: url(../img/footer-logo-1.png) no-repeat left 0;
    padding-left: 30px;
    margin-top: 28px;
}
footer ul{
  list-style-type: none;
}
footer li{
  float: left;
  font-size: 12px;
  margin-right: 20px;
  color: #fff;
  margin-top: 60px;
}

footer input{
  padding: 10px;
  color: #fff;
  background: transparent;
}
.footer-btn{
  text-decoration: none;
  margin-left: -2px;
  border: 1px solid #fff;
  padding: 9.5px 30px;
  background: #ffffff91 url(../img/logo-btn.png) no-repeat center;
}
.copyright{
  margin-top: 85px;
}
.fa-logos i{
  border: 1px solid #fff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  color: #fff;
  margin-top: 10px;
}
.fa-logos i:hover{
  background-color: #333;
}
footer::after{
  content: "";
  display: block;
  clear: both;
}
/* Media Queries */
@media screen and (max-width: 960px) {
  #story .story-image{
    width: 40%;
    padding: 20px 5%;
    margin: 20px 0px;
  }
  #story .story-content{
    width: 50%;
    padding: 20px 0;
    margin: 20px 10px;
  }
  .contact-left{
    margin-left: 10px;
  }
  .footer-content{
    width: 48%;
  }
  footer .footer-content:nth-child(3){
    width: 98%;
  }
  .copyright{
    margin-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  /* header nav{
     float: none;
     margin: 0;
   }
   header nav li{
     margin-left: 0;
     width: 12%;
     text-align: center;
     margin-top: 60px;
   } */
   header nav li{
     float: none;
     width: 100%;
     margin: 5px;
   }

   header nav{
     background: #372061;
     width: 100%;
     margin: 0;
   }
   header{
     padding-bottom: 0;
     position: relative;
   }
   header nav li a{
     display: block;
     padding: 10px;
     /* text-align: center; */
   }
   .burger{
     float: right;
     position: relative;
     right: 2%;
     top: 8%;

   }
   .burger-icon{
     width: 25px;
     height: 5px;
     background-color: #fff;
     margin: 3px 3px;
     position: relative;
   }
   .mobile-nav{
     display: block;
     width: 35px;
     height: 32px;
     border: 1px solid #fff;
     position: absolute;
     top: 40px;
     right: 10px;
     transition: all 0.3s ease-in-out;

   }
   /* .mobile-nav:hover{
     background-color: #615d5d;
     transition: all 0.3s ease-in-out
   } */
   header nav ul{
    height: 0;
    overflow: hidden;
    z-index: 9999;
    transition: all 0.3s ease-in-out
   }
   header nav ul.open{
     height: auto;
     z-index: 9999;
     transition: all 0.3s ease-in-out
   }
   /* .logo{
     position: absolute;
     top: 0;
   } */
    #expertise ul li{
      width: 40%;
      padding: 10px 2%;
      margin: 20px 5%;
    }
     #team ul li{
       width: 45%;
       /* margin: 10px 10px; */
       margin: 10px 0px 10px 25px;
       /* margin-left: 20px; */
     }
     #team p{
       padding: 15px;
     }
     .team-btm-content{
       position: relative;
     }
     .team-btm-content .btn{
       position: relative;
       top: -15px;
     }
     #works .team-color{
       grid-template-columns: repeat(3, 1fr);
     }
     .slide-content{
       font-size: 16px;
     }
     .dot-container{
       padding: 5px;
     }
     .contact-left{
       margin-bottom: 40px;
       margin-left: 45px;
       padding: 45px 10px;
       width: 90%;
     }
     .content-right{
       width: 90%;
       text-align: center;
     }
}
@media screen and (max-width: 480px) {

  .banner-tittle{
    font-size: 20px;
  }
  #main-banner p.banner-text{
    font-size: 14px;
  }
  #story .story-image{
    width: 98%;
    padding: 20px 5%;
    margin: 20px 0px;
  }
  #story .story-content{
    width: 96%;
    padding: 20px 0;
    margin: 20px 10px;
    text-align: center;
  }
  #expertise ul li{
    width: 48%;
    padding: 10px 0%;
    margin: 20px 1%;
  }
  #team ul li{
    width: 96%;
    margin: 10px 5px;
  }
  .slide-content{
    font-size: 14px;
  }
  .dot{
    width: 50px;
    height: 50px;
  }
  #testimonial .active img{
    width: 55px;
    height: 55px;
  }
  .prev{
    left: 5%;
  }
  .next{
    right: 5%;
  }
  .footer-content{
    width: 95%;
  }
  footer li{
    margin-right: 15px;
  }
  footer .footer-content:nth-child(3){
    width: 95%;
  }
}
